using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;

namespace ${namespace}
{
    public class ${classname}Model : PageModel
    {
        public void OnGet()
        {
        }
    }
}
