${testusing}

namespace ${namespace}
{
   ${testclassattribute}
   public class ${classname}
   {
       ${testmethodattribute}
       public void ${testmethodname}()
       {
           // Arrange

           // Act

           // Assert
           ${asserttrue}
       }
   }
}
